@{
    ViewData["Title"] = "Home Page";
}

<h1>Jacob Olsen this is a test</h1>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <br />
    <form asp-action="Entertainers">
        <button type="Submit">Entertainers</button>
    </form>
</div>
